---
import Layout from '../layouts/Layout.astro';
import config from '../config';

const { brandName, introduction, skills } = config;
---

<Layout title="KHOI | My Page">  
        <section id="hero-section">
          <div class="container">
            <h2 id="hero-title">My Projects</h2>
            <button id="read-more">
              <lottie-player
                src="https://assets3.lottiefiles.com/private_files/lf30_NnBW3K.json"
                background="transparent"
                speed="1"
                style="width: 4rem; margin: 0 auto"
                loop
                autoplay
              ></lottie-player>
            </button>
          </div>
        </section>

        <section class="sections" id="introduction">
          <div class="container">
            <h2 class="title">Coming soon...</h2>
          </div>
        </section>
</Layout>
