---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#0e3d66" />
    <link rel="apple-touch-icon" href="/images/ava.webp" />
    <!-- SEO related tags -->
    <meta name="description" content="Khoi Nguyen's personal website" />
    <meta name="author" content="Khoi Nguyen" />
    <meta
      name="keywords"
      content="khoiuna, khoi una, personal website, una, khoi, khoi nguyen, nguyen, university of north alabama, KHOIUNA, KHOI UNA, blog"
    />
    <meta name="twitter:card" content="Khoi Nguyen's personal website" />

    <!-- Open Graph meta tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.khoiuna.info" />
    <meta property="og:title" content={title} />
    <meta property="og:image" content="https://www.khoiuna.info/images/ava.webp" />
    <meta property="og:description" content="Khoi Nguyen's personal website" />

    <link rel="image_src" href="/images/ava.webp" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <title>{title}</title>
</head>