---
import config from "../config";

const { brandName } = config;
---

<header>
    <div id="menu">
      <a class="links" style="text-decoration: none" href="/"
        ><p><span class="brand-name">{brandName}</span></p
      ></a>

      <nav id="nav-container">
        <a class="links nav-links" href="#introduction"
          ><p class="paragraph">Intro</p></a
        >
        <a class="links nav-links" href="#skills"
          ><p class="paragraph">Skills</p></a
        >
        <a class="links nav-links" href="#projects"
          ><p class="paragraph">Projects</p></a
        >
        <a
          class="links nav-links"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.dropbox.com/s/63tto4vkl8cz60d/Nguyen_Khoi_Resume.pdf?dl=0"
          ><p class="paragraph">Resume</p></a
        >     
        <a
          class="links nav-links"
          target="_blank"
          rel="noopener noreferrer"
          href="https://blog.khoiuna.info/"
          ><p class="paragraph">Blog</p></a
        >     
      </nav>

      <button id="burger-menu">
        <i id="burger-icon" class="fa-solid fa-bars"></i>
        <i
          id="close-icon"
          class="fa-solid fa-xmark"
          style="display: none"
        ></i>
      </button>
    </div>

    <div id="dropdown-menu">
      <nav>
        <a class="links nav-links" href="#introduction"
          ><p class="paragraph">Intro</p></a
        >
        <a class="links nav-links" href="#skills"
          ><p class="paragraph">Skills</p></a
        >
        <a class="links nav-links" href="#projects"
          ><p class="paragraph">Projects</p></a
        >
        <a
          class="links nav-links"
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.dropbox.com/s/63tto4vkl8cz60d/Nguyen_Khoi_Resume.pdf?dl=0"
          ><p class="paragraph">Resume</p></a
        >     
        <a
          class="links nav-links"
          target="_blank"
          rel="noopener noreferrer"
          href="https://blog.khoiuna.info/"
          ><p class="paragraph">Blog</p></a
        >     
      </nav>
    </div>
  </header>