---
import "../styles/style.css";

import Footer from '../components/Footer.astro';
import MetaHead from '../components/MetaHead.astro';
import NavHeader from '../components/NavHeader.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<MetaHead title={title}/>

  <body>
    <div class="parallax" id="parallax-hero">
      <NavHeader/>

      <main>
        <slot></slot>
      </main>
    </div>	
  </body>

  <Footer/>

  <script>
    import "../scripts/script.ts";
  </script>
    <script
    is:inline
    src="https://kit.fontawesome.com/27e2db23db.js"
    crossorigin="anonymous"
  ></script>
  <script
    is:inline
    src="https://code.iconify.design/2/2.2.1/iconify.min.js"
  ></script>
  <script
    is:inline
    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
  ></script>
</html>
